
<h1>Customer Profile</h1>

<div class="card">
  <img src="https://i.ya-webdesign.com/images/blank-profile-picture-png-8.png" class="img">
  <h2>{{customer.first_name}} {{customer.last_name}}</h2>
  <p class="title">Email: {{customer.email}}</p>
  <p class="title">Phone: 123-123-1234</p>
  <p class="title">Phone (Mobile): 123-123-9876</p>
  <p class="title">Since: {{customer.created_at}}</p>
  <p class="title">IP: {{customer.ip}}</p>
  <p class="title">Location: ({{customer.latitude}},{{customer.longitude}})</p>
</div>

<div class="card">
<h2>Interests</h2>
<ul>
  <li>Photography</li>
  <li>Speed Cubes</li>
  <li>Fortnite</li>
  <li>Mother of Dragons</li>
</ul>
</div>

<div class="card">
<h2>Orders</h2>
  <table>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>789</td>
      <td>2018-06-15T16:00:00Z</td>
      <td>Processing</td>
      <td><a href="#" class="view">View</a></td>
    </tr>
    <tr>
      <td>456</td>
      <td>2018-06-10T15:55:00Z</td>
      <td>Shipped</td>
      <td><a href="#" class="view">View</a></td>
    </tr>
    <tr>
      <td>123</td>
      <td>2018-06-01T16:00:00Z</td>
      <td>Delivered</td>
      <td><a href="#" class="view">View</a></td>
    </tr>
  </table>
</div>
<a (click)="onClick()" class="backButton"><p class="backText">Back</p></a>
