
<h1>Customer Dashboard:</h1>
<h2 *ngIf="customer">{{customer.first_name}} {{customer.last_name}}</h2>
<div class="content">
  <div class="dash">
    <div class="card-home card-same">
          <div class="tile-header">
            <h3 class="center-card-head">Profile</h3>
            <hr class="break">
          </div>
          <div class="tile-body">
            <div class="expand-content">
              <div class="button-div">
                <button (click)="onClick()">View</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card-home card-same">
          <div class="tile-header">
            <h3 class="center-card-head">Announcements</h3>
            <hr class="break">
          </div>
          <div class="tile-body">
            <div class="expand-content">
            </div>
          </div>
        </div>

        <div class="card-home card-same">
          <div class="tile-header">
            <h3 class="center-card-head-md">Slack Updates</h3>
            <hr class="break">
          </div>
          <div class="tile-body">
            <div class="expand-content">
              <div class="announcements">
              </div>
            </div>
          </div>
        </div>

        <div class="card-home card-same">
          <div class="tile-header">
            <h3 class="center-card-head-md">Notifications</h3>
            <hr class="break">
          </div>
          <div class="tile-body">
            <div class="expand-content">
              <div class="announcements">
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
<a routerLink="" class="backButton"><p class="backText">Back</p></a>